<div class="row">
  <div class="col-md-8">
    <h2>PRS NF3</h2>
    <p><strong>Make:</strong> Paul Reed Smith</p>
    <p><strong>Model:</strong> NF3</p>
    <p><strong>Country of Manufacture:</strong> USA</p>
    <p><strong>Type:</strong> 6-string electric</p>
    <p><strong>Purchased:</strong> 2013</p>
    <p><strong>Scale Length:</strong> 25 1/4″</p>
    <p><strong>Modifications:</strong> None</p>
  </div>
  <div class="col-md-4"><img src="/images/prs_nf3.jpg" alt="Paul Reed Smith NF3"></div>
</div>
<div class="row">
  <div class="col-md-4"><img src="/images/tokai_ls116f.jpg" alt="Tokai LS116f"></div>
  <div class="col-md-8">
    <h2>Tokai LS116f</h2>
    <p><strong>Make:</strong> Tokai</p>
    <p><strong>Model:</strong> LS116f</p>
    <p><strong>Country of Manufacture:</strong> Japan</p>
    <p><strong>Type:</strong> 6-string electric</p>
    <p><strong>Purchased:</strong> 2013</p>
    <p><strong>Scale Length:</strong> 24 3/4″</p>
    <p><strong>Modifications:</strong> Fitted with Seympur Duncan 'Slash' APH II pickups</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h2>Yamaha SA2200</h2>
    <p><strong>Make:</strong> Yamaha</p>
    <p><strong>Model:</strong> SA2200</p>
    <p><strong>Country of Manufacture:</strong> Japan</p>
    <p><strong>Type:</strong> 6-string semi-acoustic</p>
    <p><strong>Purchased:</strong> 2008</p>
    <p><strong>Scale Length:</strong> 24 3/4″</p>
    <p><strong>Modifications:</strong> None</p>
  </div>
  <div class="col-md-4"><img src="/images/yamaha_sa2200.jpg" alt="Yamaha SA2200"></div>
</div>
<div class="row">
  <div class="col-md-4"><img src="/images/ovation_2001_collectors.jpg" alt="Ovation 2001 Collectors Edition"></div>
  <div class="col-md-8">
    <h2>Ovation 2001 Collectors Edition</h2>
    <p><strong>Make:</strong> Ovation</p>
    <p><strong>Model:</strong> 2001 Collectors Edition</p>
    <p><strong>Type:</strong> 6-string electro acoustic</p>
    <p><strong>Country of Manufacture:</strong> USA</p>
    <p><strong>Purchased:</strong> 2008</p>
    <p><strong>Scale Length:</strong> 24 3/4″</p>
    <p><strong>Modifications:</strong> None</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h2>Cort gb94</h2>
    <p><strong>Make:</strong> Cort</p>
    <p><strong>Model:</strong> gb94</p>
    <p><strong>Type:</strong> 4-string electric bass</p>
    <p><strong>Country of Manufacture:</strong> Korea</p>
    <p><strong>Purchased:</strong> 2008</p>
    <p><strong>Scale Length:</strong> 34″</p>
    <p><strong>Modifications:</strong> None</p>
  </div>
  <div class="col-md-4"><img src="/images/cort_gb94.jpg" alt="Yamaha SA2200"></div>
</div>
