<div class="row">
  <div class="col-md-6"><img src="/images/braveheart.jpg" alt="Warmoth LP"></div>
  <div class="col-md-6">
    <h2>Repair Price Guide</h2>

    <h3>Set-Up</h3>
    <p>Acoustic, electric guitars and basses without locking tremolo unit - £40.00 + strings</p>
    <p>Electric guitars with locking tremolos - £45.00 + strings</p>
    <p>If frets of the instrument are worn and need stoning and re crowning add - £20.00</p>

    <h3>Re-Fret</h3>
    <p>Plain unbound finger board - £120.00</p>
    <p>Lacqueredmaple board, including re lacquer - £160.00</p>
    <p>Bound finger board - £150.00</p>
    <p>Bound finger board with enclosed fret ends, (gibson style) - £200.00</p>
    <h3>Headstock Break</h3>
    <p>Glue and spray only - £50.00</p>
    <p>Glue, splint and spray - £150.00</p>
    <p>FOR ALL OTHER REPAIR PRICES PLEASE CALL...</p>
  </div>
</div>
