body {
  font-size: 1.6em;
}

header, main, footer {
  margin: 0 auto;
  max-width: 1140px;
}

.yturl {
  background-color: rgba(250, 90, 90, 0.6);
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}
.redheart {
  color: #f00;
}
