<h1>Add Quote</h1>
<form method='post' action='/quotes'>
  <label for='quote_text'>Quotation</label>
  <input type='text' name='quote[quote_text]' id='quote_text'>

  <label for='quote_originator'>Quothee</label>
  <input type='text' name='quote[quote_originator]' id='quote_originator'>

  <input class='btn' type='submit' value='Save Quote'>
</form>
