<footer>
  <p>Created with <span class="redheart">&hearts;</span> by Chris Perry <a href="https://twitter.com/GA_London">@ga_london</a> - &copy; 2016</p>
  <p>Data extract courtesy of <a href="https://github.com/humanmade">humanmade</a> at <a href="https://github.com/humanmade/wp-irc-plugins/blob/master/plugins/quotes.json">Github</a></p>
</footer>
