<header>
  <nav>
    <ul>
      <li><a href='/'>Edmund.ly</a></li>
      <li><a href='/quotes'>Quotes</a></li>
      <li><a href='/quotes/new'>Add a Cunning Quote</a></li>
    </ul>
  </nav>
</header>
