<div class="jumbotron">
  <h1>The World of Chris' Guitars</h1>
  <p>Over the last 30+ years, I have been acquiring, maintaining and reparing a selection of high-end, and more modest, guitars for myself, and friends 'in the know'</p>
  <p>These pages show off a few of the items in my possession, and also outline the services I can offer for your own instruments.</p>
  
  <p>Curabitur neque arcu, finibus non auctor interdum, congue nec leo. Cras vestibulum, leo sollicitudin auctor feugiat, nisi purus auctor felis, a fringilla velit nunc eu neque. Donec condimentum mauris quis magna accumsan dignissim. Donec magna nulla, convallis a dui viverra, gravida pharetra dui. Aenean nec commodo ante. Suspendisse potenti. Vestibulum interdum quis diam a faucibus. Mauris tempus, massa non sodales varius, mauris magna ultrices turpis, non consequat dolor elit quis tellus.</p>

  <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc at eros placerat, sollicitudin dolor vel, mattis nibh. Curabitur nec sapien vitae est ullamcorper tempor. Quisque efficitur nunc ultrices metus porttitor viverra. Curabitur at nibh a ipsum auctor cursus. Morbi interdum eget elit sit amet dapibus. Integer tempor, risus et efficitur aliquam, nibh ipsum feugiat massa, sit amet volutpat leo tellus a orci. Cras finibus, nibh vitae tempus dapibus, sem velit porta urna, ac congue nisi mi ultrices purus. Duis eu dui eu augue eleifend rutrum.</p>

  <p>Fusce vitae vestibulum tortor, ut scelerisque purus. Proin lorem lorem, aliquet nec eleifend eget, auctor sit amet est. Sed porta porta diam, a vehicula elit lacinia rhoncus. Maecenas molestie arcu cursus, dictum est at, lacinia neque. Fusce eget ante fermentum, mollis nunc sit amet, pulvinar elit. Mauris blandit molestie aliquet. Quisque mattis rutrum justo, vel iaculis diam ultrices eu. Suspendisse quis posuere est. Proin facilisis tincidunt sem, hendrerit rutrum lacus scelerisque tristique. Donec sit amet elit mollis, laoreet mauris at, imperdiet tellus. Aliquam erat volutpat. Integer id mattis magna, quis ultricies ante. Sed lobortis dui ut imperdiet vestibulum. Integer vel leo sem.</p>
</div>
